<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatty</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="box">
     <form method="POST" action="/chatty">
        <div class="newroom">
            <label>Create NEW ROOM
            </label>
            <br>

            <input name="room" type="text " />

        </div>
        <br>
        <div class="roomlist">
           
         
      
            

         </div>
         <br>
         <div class="username">
            <label>NAME</label>
            <br>
            
            <input name="username" placeholder="Enter your name" type="text" required> 
            <button type="submit" class="namesubmit">SUBMIT</button>
         </div>
    </div>
    
</body>
</html>