<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatty</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="box">
        <div class="newroom">
            <a href="/createroom">Create NEW ROOM
        </a>
        </div>
        <br>
   
        <div class="roomlist">
         <% if (allrooms!=null) {%>
            <% allrooms.forEach(R=>{%>
            
        <label> <%=R.rooms%></label>
        <a href="/:<%=R.rooms%>" >join <%=R.rooms%></a>
        <br>
    <%})}%>
         
      
            

         </div>
         <br>
       
    </div>
    
</body>
</html>